header {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 30px 10%;
  box-sizing: border-box;
}
header > .logo {
  color: white;
  font-weight: 900;
}
header ul {
  margin-left: auto;
  list-style: none;
  display: flex;
  align-items: center;
}
header ul li {
  margin: 0 10px;
  cursor: pointer;
}
header ul li > .login {
  padding: 5px 15px;
  border: 1px solid #63affb;
  border-radius: 5px;
  background-color: transparent;
  color: #63affb;
  font-weight: 700;
  cursor: pointer;
}
header ul li > .login:hover {
  background-color: #63affb;
  color: #fff;
}

.wrapper {
  width: 100%;
  padding-top: 100px;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  top: 0;
}
.wrapper > img {
  transform: rotate(30deg);
  position: absolute;
  width: 50%;
  top: -400px;
  left: -200px;
  z-index: 2;
}
.wrapper > img.reverse {
  transform: rotate(-30deg);
  position: fixed;
  width: 50%;
  right: -200px;
  top: initial;
  left: initial;
  bottom: -200px;
  z-index: 2;
}
.wrapper .container {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  width: 80%;
}
.wrapper .container .small-container {
  height: calc(100vh - 100px);
  display: flex;
  position: relative;
}
.wrapper .container .small-container > img {
  width: 400px;
  height: 300px;
  margin-right: auto;
  position: absolute;
  bottom: 100px;
}
.wrapper .container .small-container .greeting {
  padding-top: 100px;
  margin-left: auto;
  width: 60%;
}
.wrapper .container .small-container .greeting > h1 {
  font-size: 56px;
  line-height: 56px;
  margin-bottom: 10px;
}
.wrapper .container .small-container .greeting p {
  margin: 0;
}
.wrapper .container img {
  width: 50%;
}

.section2 {
  display: flex;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  border-radius: 15px;
  padding: 0;
  align-items: flex-start;
}
.section2 .message {
  width: 50%;
  padding: 30px;
}
.section2 .message form {
  display: flex;
  flex-direction: column;
}
.section2 .message form label {
  margin: 10px 0;
}
.section2 .message form input {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #dbd9d9;
}
.section2 .message form button {
  padding: 5px 15px;
  border: 1px solid #63affb;
  border-radius: 5px;
  background-color: transparent;
  color: #63affb;
  font-weight: 700;
  cursor: pointer;
  height: 40px;
  margin: 10px 0;
  color: #fff;
  background-color: #63affb;
}
.section2 .message form button:hover {
  background-color: #63affb;
  color: #fff;
}

.address .address-item {
  display: flex;
  align-items: center;
}
.address .address-item img {
  width: 32px;
  height: 32px;
}
.address .address-item p {
  margin-left: 15px;
  width: 50%;
}
.address > img {
  margin-top: 40px;
}

.explore {
  padding: 5px 15px;
  border: 1px solid #63affb;
  border-radius: 5px;
  background-color: transparent;
  color: #63affb;
  font-weight: 700;
  cursor: pointer;
  height: 40px;
  margin: 20px 0;
}
.explore:hover {
  background-color: #63affb;
  color: #fff;
}

.headline {
  font-size: 45px;
  margin: 0;
}

#price, #contact, #about {
  height: 100vh;
  padding: 50px 0;
}
#price > h1, #contact > h1, #about > h1 {
  color: #63affb;
}
#price .section, #contact .section, #about .section {
  display: flex;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  border-radius: 15px;
}
#price .section > img, #contact .section > img, #about .section > img {
  width: 400px;
  height: 300px;
}

.scroll {
  position: fixed;
  z-index: 4;
  width: 40px;
  height: 40px;
  bottom: 50px;
  right: 50px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.scroll img {
  position: relative;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll:after {
  content: "";
  opacity: 0;
}
.scroll:hover {
  transform: translateY(-5px);
}
.scroll:hover:after {
  color: white;
  content: "Scroll to Top";
  position: absolute;
  opacity: 1;
  width: 100px;
  left: -50%;
  top: 120%;
}

.price-container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 50px 0;
}
.price-container > .price-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 30px 30px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.price-container > .price-card > h2 {
  color: #63affb;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
}
.price-container > .price-card ul {
  text-align: left;
  padding: 10px 20px;
  margin: 20px 0 auto;
}
.price-container > .price-card > hr {
  width: 100%;
  margin: 0;
}
.price-container > .price-card .priceitem {
  padding: 5px 15px;
  border: 1px solid #63affb;
  border-radius: 5px;
  background-color: transparent;
  color: #63affb;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
}
.price-container > .price-card .priceitem:hover {
  background-color: #63affb;
  color: #fff;
}

.login-page {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  opacity: 1;
  transition: all 200ms ease-in-out;
  animation: fadeIn 200ms ease-in forwards;
}
.login-page.fade {
  opacity: 0;
}
.login-page.fade .container {
  transform: translateX(100%);
}
.login-page .container {
  transition: all 400ms ease-in-out;
  position: relative;
  text-align: center;
  width: 30%;
  height: 100%;
  padding: 50px;
  margin-left: auto;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.login-page .container img {
  width: 50%;
  margin: 20px;
}
.login-page .container h1 {
  margin: 5px;
  color: #63affb;
}
.login-page .container .form {
  text-align: left;
  width: 80%;
}
.login-page .container .form label {
  display: block;
  margin: 10px auto;
}
.login-page .container .form input {
  height: 40px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  outline: 0;
  border: 1px solid #dbd9d9;
  transition: border 200ms ease-in-out;
}
.login-page .container .form input:valid {
  border: 1px solid #65b0fb;
}
.login-page .container .form button {
  padding: 5px 15px;
  border: 1px solid #63affb;
  border-radius: 5px;
  background-color: transparent;
  color: #63affb;
  font-weight: 700;
  cursor: pointer;
  height: 40px;
  width: 100%;
  margin: 20px auto;
}
.login-page .container .form button:hover {
  background-color: #63affb;
  color: #fff;
}
.login-page .container .exit {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media screen and (max-width: 420px) {
  header {
    padding: 20px 5%;
  }
  header .logo {
    color: #65b0fb;
  }
  header ul li {
    margin: 5px;
  }
  .wrapper img.reverse {
    position: fixed;
    bottom: 0;
    width: 50vh;
    right: -200px;
  }
  .wrapper > .container {
    width: 90%;
  }
  .wrapper > .container .small-container {
    height: auto;
    flex-direction: column-reverse;
  }
  .wrapper > .container .small-container img {
    width: 50%;
    z-index: 1;
    border-radius: 15px;
    position: absolute;
    top: 80px;
    right: 0;
    width: 70%;
    height: auto;
  }
  .wrapper > .container .small-container .greeting {
    width: 100%;
    margin: 80px auto;
    padding: 0;
  }
  .wrapper > .container .small-container .greeting h1 {
    filter: drop-shadow(0 0 0.75rem white);
    position: relative;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 20px;
    z-index: 2;
  }
  #price, #about, #contact {
    height: auto;
  }
  #price > h1, #price > p, #about > h1, #about > p, #contact > h1, #contact > p {
    text-align: center;
  }
  #price .section > img, #about .section > img, #contact .section > img {
    display: none;
    padding: 0;
  }
  .price-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }
  .price-container .price-card {
    width: 100%;
    margin-bottom: 15px;
  }
  .section2 {
    flex-direction: column;
    padding: 10px;
  }
  .section2 .message {
    width: 100%;
    padding: 0;
  }
  .address > img {
    display: none;
  }
  .address .address-item p {
    width: 100%;
  }
  .login-page {
    background-color: transparent;
  }
  .login-page .container {
    width: 100vw;
    padding: 50px 5%;
  }
}

/*# sourceMappingURL=style.css.map */
